
body{
 background-color: lightblue;
}
.head{
  text-align: center;
}
h1{
  border: 2px solid;
  border-radius: 15px ;
}
.fname{
  border-radius: 10px;
}
.mname{
  border-radius: 10px;}
  
.lname{
  border-radius: 10px;
}
.tarea{
  border-radius: 20px;
}
title{
  border-radius: 15px;
}
  