body{
  background-color: lightpink;
  font-family: serif;
}
.md{ 
  border-radius: 6px;
  background-color: lightcoral
}
#password{
  border-radius: 6px;
  font-style: italic;
  background-color: lightpink;
}
#username{
 border-radius: 6px;
 background-color:l lightpink;
  font-style: italic;
}
.new{
  border-radius: 6px;
  background-color: lightpink;
  color: red;
}
.rr {
  border-radius: 6px;
  background-color: antiquewhite;
  filter: drop-shadow(10px 10px 10px blue)
}
.submit{
  background-color: lightsteelblue;
}
.month{
  background-color: palegreen;
}